/*  src/Header.css  */
.Header {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0.5em;
    margin-bottom: 5em;
    background-color: rgb(236, 203, 245);
    color: #fff;
  }